.sobre__descricao{
    color: #8c8888;
    font-weight: 300;
}

@media screen and (min-width:0) {
    .sobre__descricao{
        font-size: 1.1rem;

    }
    
}
@media screen and (min-width:768px) {
    .sobre__descricao{
        font-size:1.75rem;

    }
    
}